<div class="formcontainer">
    <div class="formbody">
        <form style="width:100%;" [formGroup]="loginForm">
            <div class="header">Welcome</div>
            <div>
                <mat-form-field style="width:100%;">
                    <input type="text" formControlName="email" matInput placeholder="Username">
                </mat-form-field>
                <span *ngIf="isValid('email')">Username cannot be blank</span>
            </div>
            <div>
                <mat-form-field style="width:100%;">
                    <input type="password" formControlName="password" matInput placeholder="Password">
                </mat-form-field>
                <span *ngIf="isValid('password')">Password cannot be blank</span>
            </div>
            <div style="margin-top:40px;">
                <button class="form-btn" (click)="login()">Sign In</button>
            </div>
        </form>
    </div>

    <div>
        <div style="width: 290px; padding: 20px;">
            <button class="form-btn-hollow" (click)="movetoregister()">Register</button>
        </div>
    </div>
</div>